body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    /* border-radius: 5px; */
    /* padding: 7px; */
    text-align: center;
    width: 100% ;
    /* margin-top: 10%; */
}
.button{
    text-align: center;
    width: 100% ;
    margin-top: 10%;
    background-color: greenyellow;
}
a{
    text-decoration: none;
    color: #e51;
}
form{
    width: 480px;
    margin: auto;
    padding: 105px;
    border: solid black 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #888;
}